/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  background: black;
}

#bg-cover {
  background-size: cover;
  position: fixed;
  filter: blur(10px) brightness(0.5);
  top: -20px;
  right: -20px;
  left: -20px;
  bottom: -20px;
}

#artist-img-container {
  text-align: center;
  overflow: hidden;
  flex: 1;
}

#artist-img {
  height: 100%;
  width: 100%;
  
  cursor: pointer;
  
  object-fit: contain;
}

#artist-name {
  font-size: 70px;
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
}

#artist-info {
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
}


#playlists {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  background: rgba(0,0,0,0.5);
  color: white;
  overflow: auto;
  
  display: flex;
  
  transition: transform 0.3s;
  
  text-align: center;
}

#playlists.hidden {
  transform: translate3d(0, -100%, 0);
}

#playlist-toggle {
  position: fixed;
  top: 16px;
  right: 16px;
}

.logged-in #spotify-login {
  display: none;
}

#spotify-login {
  align-self: center;
}

.playlist {
  margin: 16px;
  cursor: pointer;
  grid-row: 1;
}

.flex-gutter {
  flex-basis: 16px;
}

h1 {
  font-weight: bold;
  color: pink;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}
